body
  .hero.hero-background
    .hero-container
      aside.profile-card
        .card-header
          a(target='_blank', href='#')
            img.hoverZoomLink(src='https://pt.gravatar.com/userimage/1033538/b6c75a56d5642159f37c7b5256f0f7b1?size=200')
          h1 Pedro
          h2 Embarcados e Front End Dev
        .profile-bio
          p Em breve API com Pedro's random quotes
        ul.social-links
          li
            a(target='_blank', href='https://www.facebook.com/iacapuca')
              i.fa.fa-facebook
          li
            a(target='_blank', href='')
              i.fa.fa-twitter
          li
            a(target='_blank', href='https://github.com/iacapuca')
              i.fa.fa-github
          li
            a(target='_blank', href='https://www.linkedin.com/in/iacapuca/')
              i.fa.fa-linkedin
  .work
  .content
    section.projetos.grid#projetos
      .intro
        .nugget.nugget-small Oi, eu sou o Pedro!
        .divider
        p.intro-text.text-medium-gray  Sou um graduando em Engenharia Eletrônica pela UPE-POLI, aficionado por novas técnologias, em especial aquilo que tange cidades inteligentes e mobilidade urbana.<br> Um tanto quanto curioso, estou sempre disposto a aprender novas técnologias e re-descobrir formas de construir.<br> Abaixo vocẽ poderá visualizar alguns de meus projetos, espero que goste, e por favor, não se acanhe em dar fork no github ;)
      .third.project
        img.project-thumbnail(src='/assets/img/ciclosonar.png')
        .project-info
          a(target'_blank', href="https://github.com/iacapuca/ciclosonar")
            .title-hover.nugget.text-white.txt-center Ciclosonar
          .divider-white
          .p.tags-hover.text-white.txt-center Arduino, Cicloativismo, Intervenção Urbana, Codigo Aberto
      .third.project
        img.project-thumbnail(src='/assets/img/contador.png')
        .project-info
          a(target'_blank', href="https://github.com/iacapuca/Contador-de-Ciclistas")
            .title-hover.nugget.text-white.txt-center Contador de Ciclistas
          .divider-white
          .p.tags-hover.text-white.txt-center Arduino, Cicloativismo, Governança, Dados Abertos, Cidades Inteligentes, Accountability
      .third.project
        img.project-thumbnail(src='/assets/img/mausmotoristas.png')
        .project-info
          a(target'_blank', href="https://github.com/iacapuca/mausmotoristas")
            .title-hover.nugget.text-white.txt-center Maus Motoristas
          .divider-white
          .p.tags-hover.text-white.txt-center Denuncia, Cicloativismo, Accountability, Codigo Aberto, Mobile
      .third.project
        img.project-thumbnail(src='/assets/img/icone512.png')
        .project-info
          a(target'_blank', href="https://github.com/pcstl/hackathonmj")
            .title-hover.nugget.text-white.txt-center DeOlho
          .divider-white
          .p.tags-hover.text-white.txt-center Hackathon, Governança Digital, Accountability, Codigo Aberto, Transparência Ativa, Denuncia
      .third.project
        img.project-thumbnail(src='/assets/img/nalama.png')
        .project-info
          a(target'_blank', href="https://github.com/pcstl/hackathon-tc")
            .title-hover.nugget.text-white.txt-center NaLama
          .divider-white
          .p.tags-hover.text-white.txt-center Corrupção, Governança Digital, Accountability, Codigo Aberto, Eleições
  .work
  .content
    section.conhecimento.grid#conhecimento
      .nugget.nugget-small.txt-center Conhecimentos
      #wrapper.center
        svg.progress.red.noselect(data-progress='80', x='0px', y='0px', viewbox='0 0 776 628')
          path.track(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          path.fill(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          text.value(x='50%', y='61%') 80%
          text.text(x='50%', y='122%') HTML5
        svg.progress.red.noselect(data-progress='60', x='0px', y='0px', viewbox='0 0 776 628')
          path.track(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          path.fill(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          text.value(x='50%', y='61%') 60%
          text.text(x='50%', y='122%') CSS3
        svg.progress.red.noselect(data-progress='60', x='0px', y='0px', viewbox='0 0 776 628')
          path.track(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          path.fill(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          text.value(x='50%', y='61%') 60%
          text.text(x='50%', y='122%') Arduino
        svg.progress.red.noselect(data-progress='50', x='0px', y='0px', viewbox='0 0 776 628')
          path.track(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          path.fill(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          text.value(x='50%', y='61%') 50%
          text.text(x='50%', y='122%') PCB Design
        svg.progress.red.noselect(data-progress='40', x='0px', y='0px', viewbox='0 0 776 628')
          path.track(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          path.fill(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          text.value(x='50%', y='61%') 40%
          text.text(x='50%', y='122%') JS
        svg.progress.red.noselect(data-progress='30', x='0px', y='0px', viewbox='0 0 776 628')
          path.track(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          path.fill(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          text.value(x='50%', y='61%') 30%
          text.text(x='50%', y='122%') Angular 4
        svg.progress.red.noselect(data-progress='30', x='0px', y='0px', viewbox='0 0 776 628')
          path.track(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          path.fill(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          text.value(x='50%', y='61%') 30%
          text.text(x='50%', y='122%') Ionic 3
