.site-footer{
  background-color:$primary-color;
  padding: 70px 0;
  position: relative;
  text-align: center;
  .nugget{
    color:white;
  }
  ul.social-links{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-left: 0px;
    li{
      width: 25%;
      text-align: center;
    }
  }
}

.text-footer-gray{
  color: #B0B4C0;
}

.footer-content{
  display: flex;
  justify-content: center;;
  align-items: center;
}

.nugget-footer{
  font-size: 0.75em;
line-height:20px;
display: inline;
}
i.fa.fa-heart{
  color: white;
  padding-right: 5px;
}
